<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.y_preneur">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YPRENEUR">
        <activity
            android:name=".BusinessCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".BuildAttentionActivity"
            android:exported="false" />
        <activity
            android:name=".BuildBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessPlanActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseBusinessActivity"
            android:exported="false" />
        <activity
            android:name=".MainBusinessCreateActivity"
            android:exported="false" />
        <activity
            android:name=".AccountCreateActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login_register.SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>